[data-width] {
  overflow: hidden;
}
[data-width="5"] {
  width: 72px;
  color:dodgerblue;
}
[data-width="4.5"] {
  width: 64px;
  color:dodgerblue;
}
[data-width="4.0"] {
  width: 57px;
  color:dodgerblue;
}
[data-width="3.5"] {
  width: 49px;
  color:dodgerblue;
}
[data-width="3.0"] {
  width: 43px;
  color:dodgerblue;
}
[data-width="2.5"] {
  width: 36px;
  color:dodgerblue;
}
[data-width="2.0"] {
  width: 29px;
  color:dodgerblue;
}
[data-width="1.5"] {
  width: 21px;
  color:dodgerblue;
}
[data-width="1.0"] {
  width: 15px;
  color:dodgerblue;
}