
[data-width="5.0"] {
  width: 100%;
}
[data-width="4.5"] {
  width: 90%;
}
[data-width="4.0"] {
  width: 80%;
}
[data-width="3.5"] {
  width: 70%;
}
[data-width="3.0"] {
  width: 60%;
}
[data-width="2.5"] {
  width: 50%;
}
[data-width="2.0"] {
  width: 40%;
}
[data-width="1.5"] {
  width: 30%;
}
[data-width="1.0"] {
  width: 20%;
}

.rate {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 30px;
  font-size: 30px;

  &::before,
  &::after {
  position: absolute;
  display: inline-block;
  height: 30px;
  content: '★★★★★';
  line-height: 30px;
  }
  
  &::before {
  color: #c4c4c4;
  }
  
  &::after {
  overflow: hidden;
  width: 105px;
  color: #ffb906;
  }
  }
  
  .data-rate {
  display: flex;
  width: 330px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1.5px solid #e8d8b0;
  margin: 20px auto 0;
  font-weight: bold;
  }